#main {
    padding-top: 74px;
}

@media (min-width: 992px) {
    #main {
      padding-top: 104px;
    }
}

@font-face {
    font-family: 'gourdie_gothic_blackblack';
    src: url('../fonts/gourdiegothic-ep2w-webfont.eot');
    src: url('../fonts/gourdiegothic-ep2w-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gourdiegothic-ep2w-webfont.woff2') format('woff2'),
         url('../fonts/gourdiegothic-ep2w-webfont.woff') format('woff'),
         url('../fonts/gourdiegothic-ep2w-webfont.ttf') format('truetype'),
         url('../fonts/gourdiegothic-ep2w-webfont.svg#gourdie_gothic_blackblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

#copyright {
    color: white;
}

#copyright a + a {
    padding-left: 1em;
    border-width: 0px;
}

#about_page_background{
    font-size:x-large;
    text-align: left;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    color: ivory;
}

body, html {
    height: 100%;
    min-height: 2000px;
}

.base_bg_class {
    background-image: url("../img/3.jpg");
    height: 100%;
    min-height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.about_bg_class {
    background-image: url("../img/1.jpg");
    height: 100%;
    min-height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.videos_bg_class {
    background-image: url("../img/4.jpg");
    height: 100%;
    min-height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discography_bg_class {
    background-image: url("../img/2.jpg");
    height: 100%;
    min-height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


p a + a {
    padding-left: 2em;
}

footer {
    position: fixed;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    height: 50; 
    width: 100%;
    text-align:left;
    font-size: 0.8em;
    bottom: 0;
    font-size: 12px;
}

.row {
    padding: 5%;
    margin:0px;
    text-align: center;
}
.column {
    padding: 3%;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: "gourdie_gothic_blackblack";
}

.nav {
    font-family: "gourdie_gothic_blackblack";
}

