{% extends 'base.html' %}

{% block title %}About{% endblock %}


{% block bg %}
class="about_bg_class"
{% endblock %}

{% block content %}

<div id="about_page_background">

Featuring wavy synths and muted melodic vocals reminiscent of cloud rap influences like
Blackbear or Lil Peep, the debut single "Wither" is a dark but intimate affair with introspective and vulnerable
lyrics about searching for something long lost, a romance already extinguished. 
<br><br>
Venturing into
a serious topic, BVDBATCH elaborates that the project veers into his complex sense of
personhood, love and intimate relationships; mirroring the demons that suppress his inner
desire for fulfilment, belonging and autonomy. 
<br><br>
It’s a glowing slice of dark dream pop, complete
with its emo/metal roots to keep the project facing firmly towards the future, and angsty visuals
for an emotive lo-fi bedroom pop vibe. 

</div>
{% endblock %}