{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}BVDBATCH{% endblock %}</title>
    <link href="{% static 'theme/css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
</head>

<body {% block bg %} class="base_bg_class"{% endblock %}>
{% include 'navbar.html'%}
    <main id="main">
        {% block content %}               
        {% endblock %}              
    </main>


<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'theme/js/scripts.js' %}"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>

{% include 'footer.html'%} 
</body>
</html>
