<footer>
    <div id="copyright">

                <!--Social media icons-->
                <a href="https://www.instagram.com/bvdbatch/" target="_blank">
                <img src="../static/img/instagram-color.svg" width="30" height="30">
                </a>
                <a href="https://www.youtube.com/channel/UCYXhK5D5Mi5CXXS_2raUtMQ" target="_blank">
                <img src="../static/img/youtube-color.svg" width="30" height="30">
                </a>
                <a href="https://open.spotify.com/artist/7CspRzc22EMielXf0DUoJm" target="_blank">
                 <img src="../static/img/spotify.svg" width="30" height="30">
                </a>
                <a href="https://soundcloud.com/user-707363872" target="_blank">
                <img src="../static/img/soundcloud.svg" width="30" height="30">
                </a>
                    
                <br>
                <br>
                &copy; BADBATCH 2020
 
    </div>
</footer>
